/* https://codepen.io/claudiosc8/pen/QqpoOm */

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
/* body {
  background-color: #151843;

} */
.sunwrapper {
  font-size: 1px;
  padding-bottom:40px;
}


#sun {
    /* max-width: 500em; 
     height: 400em; */
    margin: 0 auto;
    position: relative;
    /* margin-top: calc(50vh - 200em); */
}

.planet {
  margin: 0 auto;
  width: 300em;
  height: 300em;
  background-color: #ebf3fe;
  display: block;
  border-radius: 50%;
  position: relative;
  box-shadow: inset -40em 0em 0em #d8e8f7, inset 20em 0em 0em #ffffff, inset -50em 0em 0em 20em #e2eefa, 0em 0em 0em 20em  rgba(255, 255, 255, 0.05), 0em 0em 0em 40em  rgba(255, 255, 255, 0.025), 0em 0em 0em 60em  rgba(255, 255, 255, 0.0125);
  border: solid 10em;
  transition: all 0.2s ease-in;
}

.planet:after {
  content: "";
  width: 50em;
  height: 50em;
  border-radius: 50%;
  background-color: #d8e8f7;
  position: absolute;
  top: 20%;
  left: 20%;
  box-shadow: 40em -20em 0em -10em #d8e8f7, 40em 10em 0em -15em #d8e8f7;
}

.face {
  position: absolute;
  width: 100em;
  top: 50%;
  left: 40%;
}

.zzz1, .zzz2, .zzz3{
  color:white;
  position:absolute;
  top:0;
  right:10%;
  font-size:36em;
  opacity:0;
  font-family: 'Shadows Into Light', cursive;
      animation-name: zzz-sleep;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.zzz1:after, .zzz2:after, .zzz3:after {
  content:"z";
}

.zzz1 {
  animation-delay: 0s;
  
}

.zzz2 {
  animation-delay: 1.2s;
  right:15%;
  top:3%;
}

.zzz3 {
  animation-delay: 2.4s;
  right:10%;
  top:6%;
}



.SUN .mouth {
  margin-top: 15em;
  height: 19em;
  width: 21em;
  diplay: block;
  border-radius: 0em 0em 50% 50%;
  background-color: transparent;
  float: left;
  border: 6em solid #151843;
  border-top: 0;
  margin-right: 10em;
  position: relative;
  margin-left:0em;
  animation-name: none;
}

.mouth {
  margin-top: 15em;
  height: 25em;
  width: 25em;
  diplay: block;
  border-radius: 50%;
  background-color: #151843;
  float: left;
  border: none;
  border-top: 0;
  margin-right: 10em;
  margin-left:2em;
  position: relative;
  
    animation-name: mouth-sleep;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  left: -2em;
    top: 3em;
}

.SUN .mouth:after {
  content: "";
  width: 6em;
  height: 6em;
  position: absolute;
  display: block;
  top: -3em;
  left: -6em;
  background-color: #151843;
  border-radius: 50%;
  
}

.SUN .mouth:before {
  content: "";
  width: 6em;
  height: 6em;
  position: absolute;
  display: block;
  top: -3em;
  left: 9em;
  background-color: #151843;
  border-radius: 50%
}

.SUN .eye {
  width: 20em;
  height: 20em;
  display: block;
  float: left;
  margin-right: 13em;
  animation-name: eye-blink;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  position: relative;
  overflow: hidden
}

.eye {
  width: 20em;
  height: 20em;
  display: block;
  float: left;
  margin-right: 8em;
  position: relative;

}

.SUN .eye-in {
  content: "";
  width: 20em;
  height: 20em;
  background-color: #151843;
  display: block;
  position: absolute;
  top: 0em;
  left: 0em;
  border-radius: 50%;
  transform: scale(1, 1) !important;
  border:none;
}


.eye-in {
  width: 25em;
  height: 13em;
  display: block;
  position: absolute;
  top: 5em;
  left: -1em;
    border-bottom-left-radius: 15em;
    border-bottom-right-radius: 15em;
    border: 5em solid #151843;
    border-top: 0;
}




.pos-star1 {
  top: 50em;
  left: 50em;
}

.pos-star2 {
  top: 250em;
  left: 450em;
}

.pos-star3 {
  top: 240em;
  left: 5em;
}

.star {
  width: 20em;
  height: 20em;
  background-color: white;
  display: block;
  border-radius: 50%;
  float: left;
  position: absolute;
  transform-origin: 50% 50%;
  animation-name: star3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transform-origin: 50% 50%;
  transition: all 0.3s ease-out;
}

.star:before {
  width: 20em;
  height: 20em;
  content: "";
  background-color: white;
  position: absolute;
  transform: scale(1, 2) rotate(45deg);
  animation-name: star1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  border-radius: 20%;
  transition: all 0.3s ease-out;
}

.star:after {
  width: 20em;
  height: 20em;
  content: "";
  background-color: white;
  position: absolute;
  transform: scale(2, 1) rotate(45deg);
  animation-name: star2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  border-radius: 20%;
  transition: all 0.3s ease-out;
}

@keyframes star1 {
  0% {
    transform: scale(1, 2) rotate(45deg);
  }
  50% {
    transform: scale(1, 1) rotate(45deg);
  }
  100% {
    transform: scale(1, 2) rotate(45deg);
  }
}

@keyframes star2 {
  0% {
    transform: scale(2, 1) rotate(45deg);
  }
  50% {
    transform: scale(1, 1) rotate(45deg);
  }
  100% {
    transform: scale(2, 1) rotate(45deg);
  }
}

@keyframes star3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes eye-blink {
  0% {
    transform: scale(1, 1)
  }
  2% {
    transform: scale(1, 0)
  }
  4% {
    transform: scale(1, 1)
  }
}

@keyframes mouth-sleep {
  0% {
    transform: scale(1, 1)
  }
  35% {
    transform: scale(0.7, 0.7)
  }
  40% {
    transform: scale(0.7, 0.7)
  }
  75% {
    transform: scale(1, 1)
  }
}

@keyframes wiggle {
  0% {
    transform: translate(0em, 0em)
  }
  50% {
    transform: translate(50em, 0em)
  }
  100% {
    transform: translate(0em, 0em)
  }
}

@keyframes zzz-sleep {
  0% {
    transform: translate(0em, 0em) scale(1, 1);
    opacity:0;

  }
   25% {
    transform: translate(-5em, -10em) scale(1.1, 1.1);
  }
  50% {
    transform: translate(8em, -20em) scale(0.9, 0.9);
    opacity:1;
  }
   75% {
    transform: translate(-15em, -30em) scale(1.1, 1.1);
  }
  100% {
    transform: translate(15em, -40em) scale(0.9, 0.9);
    opacity:0;
  }
}


@keyframes zzz-awake {
  0% {
    transform: translate(0em, 0em) scale(1, 1) rotate(0deg);

  }
  
   100% {
    transform: translate(-15em, -30em) scale(2, 2) rotate(10deg);
         opacity:0;
  }
  
}


/* DAY TIME */

#button {
      border: 2px solid #f1c40f;
    padding: 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: #f1c40f;
    text-decoration: none;
    position: absolute;
    z-index:1;
    display: block;
    text-align: center;
    background: transparent;
    text-shadow: none;
    font-family: sans-serif;
    margin: 0 auto;
    bottom: 36px;
    border-radius: 100px;
    max-width: 200px;
    left: 0;
    right: 0;
  transition:all 0.2s ease;
}
#button:active {
  transform:scale(0.95);
  transition:all 0.2s ease;
}

#button:hover {
      border: 2px solid #f1c40f;
    color: #fff;
   background: #f1c40f;
}

.SUN #button {
     border: 2px solid #ff8603;
    color: #ff8603; 
   background: transparent;
}

.SUN #button:hover {
      border: 2px solid #ff8603;
    color: #fff;
   background: #ff8603;
}

.SUN .planet {
  background-color: #ffdb01 !important;
  box-shadow: inset -40em 0em 0em #ff8603, inset 20em 0em 0em #ffffff, inset -50em 0em 0em 20em #ffd201, 0em 0em 0em 20em  rgba(255, 210, 1, 0.2), 0em 0em 0em 40em  rgba(255, 210, 1, 0.1), 0em 0em 0em 60em  rgba(255, 210, 1, 0.05);
}

.SUN .planet:after {
  background-color: #ffd201;
  box-shadow: 40em -20em 0em -10em #ffd201, 40em 10em 0em -15em #ffd201;
}

.SUN .star:after,
.SUN .star:before {
  animation-name: none;
  transform: none;
  width: 50em;
  height: 50em;
  border-radius: 50%
}

.SUN .star:after {
  left: 150%;
  box-shadow: -50em -25em 0em 10em white, -10em -25em 0em -5em white, inset -7em 0em 0em 3em #ebf3fe;
}

.SUN .star:before {
  left: 50%;
  top: 0;
  border-radius: 0;
  width: 75em;
}

.SUN {

}

#nightbg {
  background-color: lightblue;
  width:100em;
  height:100em;
  position:absolute;
  top: 100em;
  left: calc(50% - 50em);
  border-radius:50%;
  transition:all 0.7s ease;
}

#nightbg:before {
  content:"";
  width:200em;
  height:200em;
  border-radius:50%;
  background-color:rgba(173, 216, 230, 0.1);
  position:absolute;
  left:-50em;
  top:-50em;
}

.SUN #nightbg {
  transform: scale(30);
}

.SUN .star {
  width: 50em;
  height: 50em;
  animation-name: wiggle;
  animation-duration: 10s;
}

.SUN .zzz1:after, .SUN .zzz2:after, .SUN .zzz3:after {
  content:"!";
}

.SUN .zzz1, .SUN .zzz2, .SUN .zzz3{
  color:white;
  top:0;
  right:10%;
      animation-name: zzz-awake;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:1;
}

.SUN .zzz2 {
  animation-delay: 0.2s;
  right:15% !important; 
  top:3%;
}

.SUN .zzz3 {
  animation-delay: 0.4s;
  right:10% !important;
  top:6%;
}